<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDtDwY1H1gIW6F_bdIPChy148jTWm25Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>450377667712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mid</string>
	<key>PROJECT_ID</key>
	<string>midhackathon-83656</string>
	<key>STORAGE_BUCKET</key>
	<string>midhackathon-83656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450377667712:ios:bc2c6677a36fcb1cfc4265</string>
</dict>
</plist>